@model IEnumerable<Vidly_MVCApp.Models.CustomerDto>

@{
    ViewData["Title"] = "GetCustomers";
}

<h1>List of Customers</h1>

<p>
    <a asp-action="Create">Create Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Membership Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                @item.MembershipTypes.Name
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
